/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4; /* Cor de fundo cinza claro */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
    margin: 20px auto;
    width: 80%; /* Largura da div */
    max-width: 600px; /* Máxima largura da div */
}

.container label {
    margin-right: 10px; /* Espaço entre o label e o input */
    font-weight: bold; /* Torna o texto do label negrito */
}

.container input[type="date"],
.container button {
    padding: 8px 12px;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 4px; /* Bordas arredondadas para os inputs e botões */
    font-size: 16px; /* Tamanho da fonte */
}

.container button {
    background-color: #007BFF; /* Cor de fundo azul para o botão */
    color: white; /* Texto branco */
    cursor: pointer; /* Cursor em forma de ponteiro */
    margin-left: 10px; /* Espaço à esquerda do botão */
}

.container button:hover {
    background-color: #0056b3; /* Cor de fundo quando o mouse está sobre o botão */
}


/* Contêiner do gráfico para centralizar e definir tamanho */
.grafico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px; /* Definindo largura máxima */
    margin: 0 auto; /* Centraliza na página */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Canvas para o gráfico de pizza */
canvas {
    width: 100%;
    max-width: 400px; /* Define tamanho máximo para o gráfico */
    height: auto;
    margin-top: 20px;
}

/* Tornando a página responsiva com media queries */
@media (max-width: 768px) {
    .grafico-container {
        max-width: 90%; /* Ocupa 90% da largura disponível */
    }

    canvas {
        max-width: 300px; /* Reduz o tamanho do gráfico para telas menores */
    }

    .container{
        flex-direction: column;
    }

    .container input,
    .container button{
        margin-top: 10px;
    }
}

